<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="moe.feng.nevo.decorators.enscreenshot">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".DecoratorApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="true"
        android:allowBackup="true">

        <meta-data android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                   android:value="barcode" />

        <activity android:name=".PreferencesActivity"
                  android:exported="true"
                  android:theme="@android:style/Theme.Material.Light">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES"/>
            </intent-filter>
        </activity>

        <activity-alias android:name=".LaunchActivity"
                        android:targetActivity=".PreferencesActivity"
                        android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity android:name=".PermissionRequestActivity"
                  android:exported="false"
                  android:noHistory="true"
                  android:excludeFromRecents="true"
                  android:taskAffinity=""
                  android:theme="@style/Theme.Transparent.Full"/>

        <activity android:name=".ViewBarcodeActivity"
                  android:exported="true"
                  android:noHistory="true"
                  android:excludeFromRecents="true"
                  android:taskAffinity=""
                  android:theme="@style/Theme.Transparent.Full">
            <intent-filter>
                <action android:name="moe.feng.intent.action.VIEW_BARCODE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".PreviewActivity"
                  android:resizeableActivity="true"
                  android:supportsPictureInPicture="true"
                  android:excludeFromRecents="true"
                  android:noHistory="true"
                  android:theme="@style/AppTheme.Preview"
                  android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <service android:name=".ScreenshotDecorator"
                 android:permission="com.oasisfeng.nevo.permission.BIND_DECORATOR_SERVICE"
                 android:process="com.oasisfeng.nevo.decorators"
                 android:label="@string/decorator_service_title"
                 android:description="@string/decorator_service_description">
            <intent-filter android:priority="5">
                <action android:name="com.oasisfeng.nevo.Decorator" />
            </intent-filter>
            <meta-data android:name="packages" android:value="com.android.systemui|com.oneplus.screenshot" />
            <meta-data android:name="settings.receiver" android:value="ScreenshotDecoratorSettingsReceiver" />
        </service>

        <service android:name=".service.PreviewService"
                 android:exported="false"
                 android:process=":preview"/>

        <receiver android:name=".ScreenshotDecoratorSettingsReceiver"
                  android:permission="com.oasisfeng.nevo.permission.BIND_DECORATOR_SERVICE"
                  android:exported="true"/>

        <receiver android:name=".ScreenshotDecorator$CopyUrlReceiver"/>

        <provider android:authorities="${applicationId}.provider.files"
                  android:name="androidx.core.content.FileProvider"
                  android:exported="false"
                  android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider"/>
        </provider>

    </application>

</manifest>
